@inherits LayoutComponentBase

<div class="page bg-light">
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-white">
        <article class="p-0 ">
            @Body
        </article>
    </main>
</div>
